.section {
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    background: #ffffff;
    position: relative;
}

.card {
    width: 1312px;
    height: 228px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    background: transparent;
    padding: 0 24px;
    margin: 11px auto 0;
}

.heading {
    width: 392px;
    height: 80px;
    font-family: var(--font-plus-jakarta), sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0;
    color: #1A1A1A;
    margin: 0;
}

.description {
    width: 758px;
    height: 228px;
    font-family: var(--font-plus-jakarta), sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0;
    color: #1A1A1A;
    margin: 0;
}

/* Mobile Responsive */
@media (max-width: 1400px) {
    .card {
        width: 95%;
        height: auto;
        flex-direction: column;
        gap: 2rem;
        padding: 0 2rem;
        margin: 4rem auto 0;
    }

    .heading {
        width: 100%;
        height: auto;
        font-size: 28px;
        text-align: center;
        margin: 520rem auto;

    }

    .description {
        width: 100%;
        height: auto;
        font-size: 18px;
    }
}

@media (max-width: 768px) {
    .heading {
        font-size: 24px;
    }

    .description {
        font-size: 16px;
    }
}